

<% @row_num = 0 %>




<table>
  <caption>Sudoku </caption>
  <colgroup><col><col><col></colgroup>
  <colgroup><col><col><col></colgroup>
  <colgroup><col><col><col></colgroup>
  <% @user_sudoku.each do |row| %>
    <% if @row_num %3  == 0%><tbody>
    <% end %>
    <tr>
      <% @row_num += 1 %>
      <% row.each do |element| %>
        <% if  @end_sudoku[@user_sudoku.index(row)][row.index(element)] != element %>
          <td><%= text_field_tag "sudoku[][#{@row_num - 1}][#{row.index(element)}]", element, size: 1, maxlength: 1, class: "red-text-field",onkeypress: 'return event.charCode >= 49 && event.charCode <= 57'  %></td>
        <% else %>
          <td><%= element %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<br>
<br>

<div class="btn-container">
  <button class="btn">Fill</button>
  <button class="btn">Clear</button>
  <button class="btn">Auto Fill</button>
  <button class="btn">Check</button>
</div>



